<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sample</title>
  </head>
  <body>
    <h1>Helloss world</h1>
    <h2>This is First Page</h2>
  </body>
</html>

<div class = "top">
<h1><a href=<%= will_path%>>WILL</a></h1>
<h1><a href=<%= can_path%>>can</a></h1>
<h1><a href=<%= must_path%>>Must</a></h1>

</div>
