<header> 
  <title>Can</title>
</header> 
<div class="container"> 
  <h1>Can</h1> 
<p>Lorem ipsum dolor sit amet. Non mollitia ratione nam quas distinctio quo voluptas perspiciatis At similique illum? Sit deleniti lab </div> 
