<div class="must">
  <h1>しなければならないこと</h1>
  <h2>いわゆる「使命」です。自分が周囲から何を求められているのかを客観的な視点でみます。</h2>
  <hr color="#E2F422">
  <p>エンジニアとしての私の使命は<br>
    <b>指定された処理を的確に行う</b><br>
    <b>より効率の良い方法を常に探る</b><br>
    を実現するエンジニアになることです。	</p>
  <p>そのためにエンジニアとしての知見を高めるために、会社以外でもコードを書いて、常にアンテナを張って情報をキャッチアップしていきます。</p>
  <p>現在はQiitaにてflutterを中心として、情報発信などを少しだけ行なっています。</p>
<p><b>エンジニア→
		情報発信 ：未経験からflutterを学んでエンジニアの道に進んだので、そこに対する情報発信、初学者のためのおすすめの勉強方法などの発信をしていく必要がある。
　　　　　交流　　 : 自身も所属しているエンジニアのコミュニティで多くのエンジニア仲間を作る。エンジニアとして他のコミュニティーに参加する。
　　　　　 技術周り：毎日草を生やす、エンジニアとして知見を高める。PMで事業を回していく。
企業内部でやること：エンジニアだけではなく、営業もできるようになる。事業を０から作れるようにレベルアップする。
人生上ですること→
　　　　　　　　　エンジニアとしてではなく、一人の人間として事業を立ち上げる。
				起業をする。地元で雇用を作り最終的には北広島町芸北地域から芸北町へと戻す</b><br></p>
</div>
