@import "bootstrap";
@import "./tops";
@import "./pages";


html {
    height: 100%;
    position: relative;
}
body {
    font-family: "Impact","Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}